body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#todo-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0;
  list-style: none;

  li {
    display: flex;
    align-items: center;
    width: full;
    gap: 1rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: var(--surface-dark);
    font-weight: 600;

    input {
      cursor: pointer;
    }
  }
}

.done {
  text-decoration: line-through;
  color: rgba(255, 255, 255, 0.5);
}

.delete-btn {
  cursor: pointer;
  color: red;
  font-weight: 300;
}
