:root {
  --surface-light: #e2e0d0ff;
  --surface-dark: #bdb681ff;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

button {
  border-radius: 5px;
  padding: 6px 8px;
  cursor: pointer;
}

p {
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: var(--surface-light);
  box-shadow: 0 0.5rem 1rem #0000008f;
}

.card input {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--surface-dark);
}

#todo-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0;
  list-style: none;

  li {
    display: flex;
    align-items: center;
    width: full;
    gap: 1rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: var(--surface-dark);
    font-weight: 600;

    input {
      cursor: pointer;
    }
  }
}

.done {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.5);
}

.delete-btn {
  cursor: pointer;
  color: red;
  font-weight: 300;
}

.space-2 {
  display: flex;
  gap: 1rem;
}

#save-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    font-size: 2rem;
  }
}
